<div class="home-category">
    <div class="home-category__item">
        <a routerLink="/" class="home-category__a"><img src="assets/pizza.png" alt="Pizza"></a>
        <span class="home-category__title">Pizza</span>
    </div>
    <div class="home-category__item">
        <a routerLink="/" class="home-category__a"><img src="assets/burger.png" alt="Burger"></a>
        <span class="home-category__title">Burger</span>
    </div>
    <div class="home-category__item">
        <a routerLink="/" class="home-category__a"><img src="assets/meat.png" alt="Meat"></a>
        <span class="home-category__title">BBQ</span>
    </div>
    <div class="home-category__item">
        <a routerLink="/" class="home-category__a"><img src="assets/sushi.png" alt="Sushi"></a>
        <span class="home-category__title">Sushi</span>
    </div>
    <div class="home-category__item">
        <a routerLink="/" class="home-category__a"><img src="assets/broccoli.png" alt="Broccoli"></a>
        <span class="home-category__title">Vegan</span>
    </div>
    <div class="home-category__item">
        <a routerLink="/" class="home-category__a"><img src="assets/cake.png" alt="Cake"></a>
        <span class="home-category__title">Deserts</span>
    </div>
</div>