// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-small: 380px;

:root {
    --ff: 'Nunito', sans-serif;
    --transition: .2s all ease-in-out;


    --c-primary: #4E60FF;
    --c-primary-light: #F3F4FF;
    --c-neutral-black: #2B2B43;
    --c-neutral-white: #FFFFFF;
    --c-neutral-gray: #83859C;
    --c-neutral-gray-lightest: #EDEEF2;
    --c-neutral-gray-dark: #545563;

}